The dataset is the tweet archive of Twitter user _**@dog_rates, also known as WeRateDogs.**_ WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.

Gather each of the three pieces of data as described below in a Jupyter Notebook titled wrangle_act.ipynb:

1. The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: _**twitter_archive_enhanced.csv**__

2. The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (_**image_predictions.tsv**_) is hosted on Udacity's servers and should be downloaded programmatically using the **Requests** library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

3. _Each tweet's retweet count and favorite ("like")_ count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called _**tweet_json.txt**_ file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. **Note: do not include your Twitter API keys, secrets, and tokens in your project submission.**

**Key points to keep in mind when data wrangling for this project:**

- You only want _**original ratings (no retweets) that have images**_. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
- Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to _**assess and clean at least 8 quality issues and at least 2 tidiness issues**_ in this dataset.
- Cleaning includes merging individual pieces of data according to the rules of tidy data.
- The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.
- You do _**not need to gather the tweets beyond August 1st, 2017.**_ You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

**Storing, Analyzing, and Visualizing Data for this Project**
Store the clean DataFrame(s) in a CSV file with the main one named _**twitter_archive_master.csv.**_ If additional files exist because multiple tables are required for tidiness, name these files appropriately. Additionally, you may store the cleaned data in a _**SQLite database**_ (which is to be submitted as well if you do).

Analyze and visualize your wrangled data in your _**wrangle_act.ipynb**_ Jupyter Notebook. **At least three (3) insights and one (1) visualization must be produced.**

**Reporting for this Project**
Create a 300-600 word written report called _**wrangle_report.pdf**_ or _**wrangle_report.html**_ that briefly describes your wrangling efforts. This is to be framed as an internal document.

Create a 250-word-minimum written report called _**act_report.pdf or act_report.html**_ that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.

Both of these documents can be created in separate Jupyter Notebooks using the Markdown functionality of Jupyter Notebooks, then downloading those notebooks as PDF files or HTML files (see image below). You might prefer to use a word processor like Google Docs or Microsoft Word, however.

## 1. Gather

In [72]:
import pandas as pd
import numpy as np
import tweepy
import os
import requests
import json
import collections
import functools
import matplotlib as plt
%matplotlib inline

### 1.1 Twitter archive enhanced

In [3]:
tw_archive = pd.read_csv('twitter-archive-enhanced.csv')

### 1.2 Image prediction file

In [4]:
# Obtain from url the image-predictions.tsv file

image_pred_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

with open('image-predictions.tsv', 'wb') as image_pred_file:
    response = requests.get(image_pred_url)
    image_pred_file.write(response.content)

In [5]:
# Load image prediction data into a dataframe
tweet_image_pred = pd.read_csv('image-predictions.tsv', delim_whitespace=True)

### 1.3 Tweepy extra information

In [6]:
#tweepy API

# consumer_key = 'YOUR CONSUMER KEY'
# consumer_secret = 'YOUR CONSUMER SECRET'
# access_token = 'YOUR ACCESS TOKEN'
# access_secret = 'YOUR ACCESS SECRET'

# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)

# api = tweepy.API(auth)

Tweet data is stored in JSON format by Twitter. Getting tweet JSON data via tweet ID using Tweepy is described well in this StackOverflow answer. Note that setting the _**tweet_mode parameter to 'extended' in the get_status call, i.e., api.get_status(tweet_id, tweet_mode='extended'), can be useful.**_

Also, note that the tweets corresponding to a few tweet IDs in the archive may have been deleted. _**Try-except blocks may come in handy here.**_

To query all of the tweet IDs in the WeRateDogs Twitter archive, 20-30 minutes of running time can be expected. _**Printing out each tweet ID after it was queried and using a code timer were both helpful for sanity reasons**_. Setting the _**wait_on_rate_limit**_ and _**wait_on_rate_limit_notify**_ parameters to _**True**_ in the tweepy.api class is useful as well.

In [7]:
# import tweepy
# from tweepy import OAuthHandler
# import json
# from timeit import default_timer as timer

# # Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# # These are hidden to comply with Twitter's API terms and conditions
# consumer_key = 'HIDDEN'
# consumer_secret = 'HIDDEN'
# access_token = 'HIDDEN'
# access_secret = 'HIDDEN'

# auth = OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)

# api = tweepy.API(auth, wait_on_rate_limit=True)

# # NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# # df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# # change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# # NOTE TO REVIEWER: this student had mobile verification issues so the following
# # Twitter API code was sent to this student from a Udacity instructor
# # Tweet IDs for which to gather additional data via Twitter's API
# tweet_ids = df_1.tweet_id.values
# len(tweet_ids)

# # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
# count = 0
# fails_dict = {}
# start = timer()
# # Save each tweet's returned JSON as a new line in a .txt file
# with open('tweet_json.txt', 'w') as outfile:
#     # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#     for tweet_id in tweet_ids:
#         count += 1
#         print(str(count) + ": " + str(tweet_id))
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             print("Success")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepError as e:
#             print("Fail")
#             fails_dict[tweet_id] = e
#             pass
# end = timer()
# print(end - start)
# print(fails_dict)

## 2. Assess

### 2.1 Visual Assessment

#### 2.1.1 Twitter archive enhanced

In [8]:
tw_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

**Quality** issues summary:
- HTML tags in source text.
- name columns contains words that are not names (ex. 'a').
- The missing data in "name" or type of dog columns is encoded as 'None'.

**Tidiness** issues summary:
- There are four columns indicating the type of dog in the tweets: doggo, floofer, pupper, and puppo. These columns can actually be melted into a single column.

#### 2.1.2 Image prediction file

In [9]:
tweet_image_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

**Quality** issues summary:
- Dog breed predictions with "(\_)" separator.
- Some predictions are not dog breeds (ex. paper_towel or orange)

**Tidiness** issues summary:
- "True" dog breed predictions should be merged into the "tw_archive" to consolidate all the info together.

#### 2.1.3 Tweepy extra info

### 2.2 Programatic Assessment

#### 2.2.1 Twitter archive enhanced

In [10]:
tw_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

181 retweets as seen in retweeted_status_id

In [11]:
tw_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [12]:
#very high/low numerator and denominator values to review

text_denom = tw_archive[tw_archive.rating_denominator != 10].text.to_list()
text_denom

["@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",
 '@docmisterio account started on 11/15/15',
 'The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd',
 'Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \r\nKeep Sam smiling by clicking and sharing this link:\r\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx',
 'RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…',
 'Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE',
 'After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ',
 'Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv',
 'Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a',
 'This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq',
 "Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1",
 "Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12",
 'From left to right:\r\nCletus, Jerome, Alejandro, Burp, &amp; Titson\r\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK',
 "Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa",
 "Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ",
 "Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",
 'Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3',
 'Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55',
 'This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5',
 "I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",
 "IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq",
 'Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw',
 'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv']

In [13]:
tw_archive.loc[342]

tweet_id                                                     832088576586297345
in_reply_to_status_id                                      832087547559997440.0
in_reply_to_user_id                                                  30582082.0
timestamp                                             2017-02-16 04:45:50 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                                   @docmisterio account started on 11/15/15
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                                                               NaN
rating_numerator                                                             11
rating_denominator                                                           15
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 342, dtype: object

As seen in the texts above, the ratings with denominator != 10 are because:
- were incorrectly handled when colleting information as appear two ratings and the first one was taken
- some ratings do not follow rule of denominator 10 (ex. rating 80/80, 143/130, etc)
- second tweet from the list is showing a date ("account starte on..") and no information.

In [14]:
tw_archive.rating_denominator.value_counts(), tw_archive.rating_numerator.value_counts()

(10     2333
 11        3
 50        3
 20        2
 80        2
 0         1
 120       1
 7         1
 170       1
 150       1
 130       1
 90        1
 110       1
 2         1
 70        1
 40        1
 16        1
 15        1
 Name: rating_denominator, dtype: int64,
 12      558
 11      464
 10      461
 13      351
 9       158
 8       102
 7        55
 14       54
 5        37
 6        32
 3        19
 4        17
 1         9
 2         9
 0         2
 15        2
 75        2
 420       2
 182       1
 204       1
 143       1
 121       1
 99        1
 20        1
 45        1
 27        1
 17        1
 24        1
 26        1
 44        1
 50        1
 60        1
 80        1
 84        1
 88        1
 1776      1
 960       1
 666       1
 144       1
 165       1
 Name: rating_numerator, dtype: int64)

We can see that the outliers both for numerator(<10 and estremely high values) and denominator (=! 10) are not frequent compared to the dataset

In [15]:
tw_archive.duplicated().sum()

0

In [16]:
tw_archive.tweet_id.duplicated().sum()

0

**Quality** issues summary:
- Incorrect datatypes (*_id, *timestamp)
- retweet information not needed for this project
- some rating numerator and denominator have extreme max/min values
- some tweets contain no information

#### 2.2.2 Image prediction file

In [17]:
tweet_image_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [18]:
tweet_image_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

The values seem correct as the predictions % are between [0-1]

In [19]:
tweet_image_pred.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
crash_helmet            1
stove                   1
giant_panda             1
lorikeet                1
rain_barrel             1
Name: p1, Length: 378, dtype: int64

In [20]:
tweet_image_pred.duplicated().sum()

0

In [21]:
tweet_image_pred.tweet_id.duplicated().sum()

0

**Quality** issues summary:
- Incorrect datatypes (*_id)
- Missing information as "tw_archive" file has 2356 rows and this one 2075. Nothing can be done as the predictions file is given and the neural net is not accessible.

#### 2.2.3 Tweepy extra information

### Summary of quality and tidiness issues

**Quality**
1. <u>Twitter archive enhanced
    - HTML tags in source text.
    - name columns contains words that are not names (ex. 'a').
    - The missing data in "name" or type of dog columns is encoded as 'None'.
    - Incorrect datatypes (*_id, *timestamp)
    - retweet information not needed for this project
    - some rating numerator and denominator have extreme max/min values
    - some tweets contain no information

2. <u>Image prediction file:
    - Dog breed predictions with "(_)" separator.
    - Some predictions are not dog breeds (ex. paper_towel or orange)
    - Incorrect datatypes (*_id)
    - Missing information as "tw_archive" file has 2356 rows and this one 2075. Nothing can be done as the predictions file is given and the neural net is not accessible.

3. <u>Tweepy extra info
-

**Tidiness**
1. <u>Twiter archive enhanced:
    - There are four columns indicating the type of dog in the tweets: doggo, floofer, pupper, and puppo. These columns can actually be melted into a single column.

2. <u>Image prediction file:
    - "True" dog breed predictions should be merged into the "tw_archive" to consolidate all the info together.

3. <u>Tweepy extra info:
    - retweet_count and favorite_count should be part of tweet_data_archived

## Clean

In [22]:
# Create copies of the tweet_data_archived, tweet_data_extra and tweet_image_pred dataframes

tw_archive_clean = tw_archive.copy()
pred_clean = tweet_image_pred.copy()

s

### <u>Tidiness Issue 1 = 'There are four columns: doggo, floofer, pupper, and puppo'<u>

#### __*Define*__

Melt the 4 different columns of the dog types into one single column showing the dog type per row

#### __*Code*__

In [23]:
tw_archive_clean.doggo.value_counts(), tw_archive_clean.floofer.value_counts(), tw_archive_clean.pupper.value_counts(), tw_archive_clean.puppo.value_counts()

(None     2259
 doggo      97
 Name: doggo, dtype: int64,
 None       2346
 floofer      10
 Name: floofer, dtype: int64,
 None      2099
 pupper     257
 Name: pupper, dtype: int64,
 None     2326
 puppo      30
 Name: puppo, dtype: int64)

In [24]:
tw_archive_clean = tw_archive_clean.melt(id_vars=['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
'rating_denominator', 'name'], value_name= 'dog_type', value_vars=['doggo', 'floofer', 'pupper','puppo'])

In [25]:
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    9424 non-null   int64
 1   in_reply_to_status_id       312 non-null    float64
 2   in_reply_to_user_id         312 non-null    float64
 3   timestamp                   9424 non-null   object
 4   source                      9424 non-null   object
 5   text                        9424 non-null   object
 6   retweeted_status_id         724 non-null    float64
 7   retweeted_status_user_id    724 non-null    float64
 8   retweeted_status_timestamp  724 non-null    object
 9   expanded_urls               9188 non-null   object
 10  rating_numerator            9424 non-null   int64
 11  rating_denominator          9424 non-null   int64
 12  name                        9424 non-null   object
 13  variable                    9424 non-null   object
 14  dog_type                    9424 non-null   object
dtypes: float64(4), int64(3), object(8)
memory usage: 1.1+ MB

we can see that now the dataframe has 2356x4=9424 rows as has duplicated the dog_types.

In [26]:
tw_archive_clean.dog_type.value_counts()

None       9030
pupper      257
doggo        97
puppo        30
floofer      10
Name: dog_type, dtype: int64

In [27]:
tw_archive_clean = tw_archive_clean.sort_values('dog_type').drop_duplicates('tweet_id', keep = 'last')

In [28]:
tw_archive_clean = tw_archive_clean.drop('variable', axis=1)

#### _**Test**_

In [29]:
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 2259 to 7236
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_type                    2356 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 276.1+ KB

In [30]:
tw_archive_clean.dog_type.value_counts()

None       1976
pupper      257
doggo        83
puppo        30
floofer      10
Name: dog_type, dtype: int64

Now there are 14 values less for doggo type. This is due to rows where there was more than one dog_type informed

### <u>Tidiness Issue 2: 'tweet_image_pred: correct predictions should be combined with tweet_data_archived'<u>

#### __*Define*__

Extract the most likely "True" prediction from "tweet_image_pred" and merge them to the "tw_archive" file

#### __*Code*__

In [31]:
pred_clean

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [32]:
breed = []
prob = []

def breed_prob(row):
    if row['p1_dog'] == True:
        breed.append(row['p1'])
        prob.append(row['p1_conf'])
    elif row['p2_dog'] == True:
        breed.append(row['p2'])
        prob.append(row['p2_conf'])
    elif row['p3_dog'] == True:
        breed.append(row['p3'])
        prob.append(row['p3_conf'])
    else:
        breed.append('Unknown')
        prob.append(0)
        
# apply by columns
pred_clean.apply(breed_prob, axis=1)

# add lists created to master dataframe
pred_clean['breed'] = breed
pred_clean['prob'] = prob

In [33]:
pred_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,prob
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,Welsh_springer_spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,German_shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,Rhodesian_ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,miniature_pinscher,0.560311

In [34]:
tw_archive_clean = pd.merge(tw_archive_clean, pred_clean[['tweet_id','breed','prob', 'jpg_url', 'img_num']], on='tweet_id', how='left')

#### _**Test**_

In [35]:
tw_archive_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_type,breed,prob,jpg_url,img_num
0,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,12,10,None,None,vizsla,0.000081,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1.0
1,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,5,10,None,None,Unknown,0.000000,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1.0

Both datasets have merged correctly. But we can see that for example for the two first entries, the probability obtained from the neural net is very low. Once reviewed the images associated to the tweets it can be seen that these are screenshots of the mobile app and therefore the iamge is not correct for the net to predict correctly

### <u>Quality Issue 1: 'Incorrect datatypes (*_id, *timestamp)'<u>

#### __*Define*__

Convert _id columns into strings and timestamp columns into datetime format

#### __*Code*__

In [45]:
for each_col in tw_archive_clean.columns:
    if 'id' in each_col:
        tw_archive_clean[each_col] = tw_archive_clean[each_col].astype(str)

In [48]:
for each_col in tw_archive_clean.columns:
    if 'time' in each_col:
        tw_archive_clean[each_col] = pd.to_datetime(tw_archive_clean[each_col])

#### __*Test*__

In [51]:
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   object
 1   in_reply_to_status_id       2356 non-null   object
 2   in_reply_to_user_id         2356 non-null   object
 3   timestamp                   2356 non-null   datetime64[ns, UTC]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         2356 non-null   object
 7   retweeted_status_user_id    2356 non-null   object
 8   retweeted_status_timestamp  181 non-null    datetime64[ns, UTC]
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_type                    2356 non-null   object
 14  breed                       2075 non-null   object
 15  prob                        2075 non-null   float64
 16  jpg_url                     2075 non-null   object
 17  img_num                     2075 non-null   float64
dtypes: datetime64[ns, UTC](2), float64(2), int64(2), object(12)
memory usage: 349.7+ KB

### <u>Quality Issue 2: 'retweet information not needed for this project'<u>

#### __*Define*__

Remove all rows with retweeted_status_id and in_reply_to_status_id then drop the columns related to retweet fields:
- in_reply_to_xxx= Nullable. If the represented Tweet is a reply, this field will contain the integer representation of the original Tweet’s xxx
- retweeted_status= Users can amplify the broadcast of Tweets authored by other users by retweeting . Retweets can be distinguished from typical Tweets by the existence of a retweeted_status attribute. This attribute contains a representation of the original Tweet that was retweeted. Note that retweets of retweets do not show representations of the intermediary retweet, but only the original Tweet. (Users can also unretweet a retweet they created by deleting their retweet.)
    
#### __*Code*__

In [60]:
tw_archive_clean = tw_archive_clean[tw_archive_clean.retweeted_status_id == 'nan']

In [65]:
tw_archive_clean = tw_archive_clean[tw_archive_clean.in_reply_to_status_id == 'nan']

In [66]:
tw_archive_clean = tw_archive_clean.drop(['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id'],axis=1)

#### _**Test**_

In [71]:
tw_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,breed,prob,jpg_url,img_num
2,667549055577362432,2015-11-20 03:44:31+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Never seen dog like this. Breathes heavy. Tilt...,https://twitter.com/dog_rates/status/667549055...,1,10,None,None,Unknown,0.000000,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1.0
3,667546741521195010,2015-11-20 03:35:20+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Here is George. George took a selfie of his ne...,https://twitter.com/dog_rates/status/667546741...,9,10,George,None,toy_poodle,0.787424,https://pbs.twimg.com/media/CUOaOWXWcAA0_Jy.jpg,1.0
4,667544320556335104,2015-11-20 03:25:43+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Kial. Kial is either wearing a cape, w...",https://twitter.com/dog_rates/status/667544320...,10,10,Kial,None,Pomeranian,0.412893,https://pbs.twimg.com/media/CUOYBbbWIAAXQGU.jpg,1.0
5,667538891197542400,2015-11-20 03:04:08+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,https://twitter.com/dog_rates/status/667538891...,9,10,a,None,Yorkshire_terrier,0.618957,https://pbs.twimg.com/media/CUOTFZOW4AABsfW.jpg,1.0
6,667724302356258817,2015-11-20 15:20:54+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",What a dog to start the day with. Very calm. L...,https://twitter.com/dog_rates/status/667724302...,7,10,None,None,Unknown,0.000000,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1.0

### <u>Quality Issue 3: 'remove tweets without image'<u>

#### __*Define*__

Delete tweets where jpg_url is NaN
    
#### __*Code*__

In [84]:
tw_archive_clean = tw_archive_clean[tw_archive_clean.jpg_url.notnull()]

#### _**Test**_

In [85]:
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1971 entries, 2 to 2355
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1971 non-null   object
 1   timestamp           1971 non-null   datetime64[ns, UTC]
 2   source              1971 non-null   object
 3   text                1971 non-null   object
 4   expanded_urls       1971 non-null   object
 5   rating_numerator    1971 non-null   int64
 6   rating_denominator  1971 non-null   int64
 7   name                1971 non-null   object
 8   dog_type            1971 non-null   object
 9   breed               1971 non-null   object
 10  prob                1971 non-null   float64
 11  jpg_url             1971 non-null   object
 12  img_num             1971 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(8)
memory usage: 215.6+ KB

In [86]:
tw_archive_clean[tw_archive_clean.jpg_url.isnull()]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_type, breed, prob, jpg_url, img_num]
Index: []

### <u>Quality Issue 4: 'name columns contains words that are not names (ex. 'a')'<u>

#### __*Define*__

Review all dog "names" and modify the ones that are incorrect to "None".
    
#### __*Code*__

Looks like our main problem is that most incorrect names are 'a', 'an', 'the', etc. so mainly names that start with lower_case letters are wrong.

In [94]:
names=[]

def wrong_name(row):
    if row['name'][0].islower() == True:
        names.append('None')
    else:
        names.append(row['name'])
        
tw_archive_clean.apply(wrong_name, axis=1)

2       None
3       None
4       None
5       None
6       None
        ...
2349    None
2351    None
2353    None
2354    None
2355    None
Length: 1971, dtype: object

In [99]:
tw_archive_clean['name'] = names

#### _**Test**_

In [106]:
tw_archive_clean['name'].unique()

array(['None', 'George', 'Kial', 'Frank', 'Dook', 'Hall', 'Philippe',
       'Naphaniel', 'Olive', 'Otis', 'Cleopatricia', 'Erik', 'Stu',
       'Tedrick', 'Calvin', 'Filup', 'Shaggy', 'Reese', 'Cupcake',
       'Clybe', 'Dave', 'Keet', 'Gabe', 'Klevin', 'Jeph', 'Jockson',
       'Carll', 'Pipsy', 'Bradlay', 'Biden', 'Fwed', 'Genevieve',
       'Joshwa', 'Timison', 'Clarence', 'Kenneth', 'Churlie', 'Jiminy',
       'Alfie', 'Rusty', 'Sophie', 'Jareld', 'Bisquick', 'Ron',
       'Skittles', 'Torque', 'DayZ', 'Jo', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Josep', 'Lugan', 'Christoper', 'Jimothy', 'Kreggory',
       'Scout', 'Walter', 'Phineas', 'Monkey', 'Aja', 'Penny', 'Dante',
       'Nelly', 'Benedict', 'Venti', 'Goose', 'Nugget', 'Cash', 'Emmy',
       'Shadow', 'Jeffrey', 'Canela', 'Maya', 'Gerald', 'Mingus',
       'Waffles', 'Jimbo', 'Maisey', 'Derek', 'Ralphus', 'Zeke', 'Tilly',
       'Archie', 'Darla', 'Franklin', 'Jax', 'Zoey', 'Koda', 'Bruno',
       'Ted', 'Oliver', 'Jim', 'Earl', 'Bella', 'Jesse', 'Romeo', 'Louis',
       'Bailey', 'Jack', 'Steven', 'Beau', 'Duddles', 'Elliot', 'Lola',
       'Noah', 'Stanley', 'Alfy', 'Koko', 'Rey', 'Gary', 'Harry', 'Kevin',
       'Lassie', 'Wyatt', 'Berb', 'Reptar', 'Rosie', 'Doug', 'Cassie',
       'Carter', 'Bob', 'Ole', 'Blipson', 'Bentley', 'Charlie', 'Oakley',
       'Colin', 'Lincoln', 'Sadie', 'Dunkin', 'Bodie', 'Freddery',
       'Brian', 'Phil', 'Oliviér', 'Chester', 'Kobe', 'Lily', 'Fiji',
       'Rilo', 'Bilbo', 'Yoda', 'Chet', 'Crouton', 'Coopson', 'Daniel',
       'Rambo', 'Chip', 'Lucy', 'Socks', 'Tupawc', 'Kaia', 'Charl',
       'Reagan', 'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Maximus',
       'Vincent', 'Calbert', 'Murphy', 'Dotsy', 'Eazy', 'Coops', 'Miley',
       'Thumas', 'Nala', 'Fillup', 'Flávio', 'Crimson', 'Horace',
       'Jackson', 'Baxter', 'Trooper', 'Opal', 'Marq', 'Kramer', 'Tyrone',
       'Gordon', 'Samson', 'Hammond', 'Lorelei', 'Perry', 'Theodore',
       'Bruiser', 'Pippa', 'Obi', 'Bobby', 'Oreo', 'Brooks', 'Jerry',
       'Rocky', 'Kilo', 'Buddy', 'Molly', 'Peaches', 'Cedrick', 'Hazel',
       'Lolo', 'Eriq', 'Phred', 'Vinscent', 'Leo', 'Amber', 'Cody',
       'Edgar', 'Kingsley', 'Brockly', 'Richie', 'Geoff', 'Brad',
       'Pubert', 'Frönq', 'Derby', 'Maxwell', 'Lucky', 'Chipson',
       'Covach', 'Durg', 'Herald', 'Fynn', 'Ricky', 'Carl', 'Luca',
       'Panda', 'Schnitzel', 'Jangle', 'Ivar', 'Reginald', 'Sugar',
       'Sarge', 'Fred', 'Colby', 'Raymond', 'Cilantro', 'Karll', 'Sprout',
       'Blitz', 'Bloop', 'Kody', 'Berkeley', 'Suki', 'Barclay', 'Ebby',
       'Alexanderson', 'Link', 'Jennifur', 'Bluebert', 'Stephanus',
       'Enchilada', 'Ralphé', 'Charleson', 'Neptune', 'Bowie', 'Harnold',
       'Carper', 'Sid', 'Wallace', 'Coleman', 'Flurpson', 'Charles',
       'Axel', 'Storkson', 'Chadrick', 'Remy', 'Kyle', 'Nollie', 'Rorie',
       'Simba', 'Chase', 'Maxaroni', 'Solomon', 'Crystal', 'Ziva',
       'Larry', 'Stefan', 'Pupcasso', 'Puff', 'Ollie', 'Aldrick',
       'Dakota', 'Terry', 'Hermione', 'Ralpher', 'Livvie', 'Bubbles',
       'Jiminus', 'Harper', 'Keurig', 'Kathmandu', 'Tucker', 'Clarkus',
       'Ellie', 'Rufus', 'Farfle', 'Malikai', 'Mister', 'Coco', 'Smokey',
       'Bear', 'Bobble', 'River', 'Jebberson', 'Cooper', 'Remington',
       'Katie', 'Bode', 'Terrenth', 'Chesterson', 'Lucia', 'Zara',
       'Dexter', 'Max', 'Kara', 'Rodney', 'Kanu', 'Piper', 'Lance',
       'Opie', 'Sunny', 'Kane', 'Stubert', 'Travis', 'Toby', 'Zeus',
       'Bertson', 'Oscar', 'Nico', 'Michelangelope', 'Curtis', 'Siba',
       'Tater', 'Watson', 'Olaf', 'Lacy', 'Cecil', 'Karma', 'Billy',
       'Walker', 'Vince', 'Gunner', 'Roosevelt', 'Staniel', 'Sora',
       'Beemo', 'Milo', 'Tino', 'Kulet', 'Dylan', 'Mia', 'Batdog', 'Mojo',
       'Gizmo', 'Patch', 'Tuco', 'Bradley', 'Cal', 'Jackie', 'Franq',
       'Pippin', 'Kreg', 'Snickers', 'Ridley', 'Mark', 'Malcolm',
       'Penelope', 'Tanner', 'Lou', 'Julius', 'Herm', 'Anthony', 'Holly',
       'Sparky', 'Darby', 'Pip', 'Marley', 'Alejandro', 'Scruffers', 'JD',
       'Taz', 'Dot', 'Riley', 'Kendall', 'Sandy', 'Shnuggles', 'Daisy',
       'Acro', 'Aiden', 'Gustaf', 'Jimison', 'Leonidas', 'Caryl', 'Ed',
       'Steve', 'Frankie', 'Mac', 'Kenzie', 'Pumpkin', 'Kollin', 'Ronduh',
       'Billl', 'Keith', 'Dug', 'Sully', 'Kirk', 'Ralf', 'Saydee',
       'Clarq', 'Linda', 'Skye', 'Julio', 'Andru', 'Kloey', 'Louie',
       'Shawwn', 'Jaspers', 'Bobb', 'Banditt', 'Kevon', 'Winifred',
       'Amélie', 'Zeek', 'Timofy', 'Maks', 'Jomathan', 'Hanz', 'Samsom',
       'Ruffles', 'Terrance', 'Harrison', 'Bernie', 'Lambeau', 'Chaz',
       'Jeremy', 'Jaycob', 'Ruby', 'Raphael', 'Antony', 'Creg', 'Traviss',
       'Trigger', 'Gin', 'Jeffrie', 'Danny', 'Ester', 'Pluto', 'Andy',
       'Mason', 'Amy', 'Sage', 'Maggie', 'Jett', 'Bloo', 'Butters',
       'Sandra', 'Wally', 'Fabio', 'Winston', 'Randall', 'Liam', 'Tommy',
       'Ben', 'Nigel', 'Scooter', 'Edd', 'Paull', 'Peanut', 'Sam',
       'Willy', 'Herb', 'Damon', 'Hank', 'Hurley', 'Evy', 'William',
       'Mike', 'Hunter', 'Willie', 'Bruce', 'Sammy', 'Reggie', 'Ozzy',
       'Emmie', 'Goliath', 'Rubio', 'Jerome', 'Crumpet', 'Jessifer',
       'Percy', 'Chompsky', 'Grizz', 'Tug', 'Wilson', 'Dash', 'Tango',
       'Brody', 'Moofasa', 'Lulu', 'Darrel', 'Joey', 'Taco', 'Lupe',
       'Tiger', 'Sebastian', 'Griffin', 'Todo', 'Champ', 'Aspen', 'Ozzie',
       'Griswold', 'Cheesy', 'Alice', 'Chuck', 'Asher', 'Tess', 'Ulysses',
       'Glacier', 'Apollo', 'Carly', 'Ralph', 'Moe', 'Laela', 'Tedders',
       'Arnold', 'Ava', 'Jonah', 'Lenny', 'Chesney', 'Kenny', 'Henry',
       'Bobbay', 'Jeb', 'Rodman', 'Patrick', 'Mitch', 'Tyrus', 'Karl',
       'Ash', 'Chuq', 'Humphrey', 'Tassy', 'Juckson', 'Donny', 'Buddah',
       'Striker', 'Bert', 'Vinnie', 'Duke', 'Atlas', 'Sky', 'Oshie',
       'Alf', 'Olivia', 'Titan', 'Akumi', 'Ken', 'Strudel', 'Tebow',
       'Chloe', 'Timber', 'Binky', 'Moose', 'Dudley', 'Comet', 'Eugene',
       'Layla', 'Ito', 'Kyro', 'Gus', 'Pavlov', 'Augie', 'Halo', 'Baron',
       'Eleanor', 'Tyr', 'Swagger', 'Brandi', 'Mary', 'Bauer', 'Paisley',
       'Hobbes', 'Albus', 'Crawford', 'Ike', 'Mo', 'Sweet', 'Harlso',
       'Finn', 'Anna', 'Tom', 'Florence', 'Autumn', 'Wafer', 'Jazzy',
       'Flash', 'Howie', 'Dobby', 'Clark', 'Nimbus', 'Mack', 'Yogi',
       'Pancake', 'Fiona', 'Snicku', 'Moreton', 'Happy', 'Mosby', 'Misty',
       'Mabel', 'Levi', 'Juno', 'Maude', 'Newt', 'Benji', 'Nida', 'Robin',
       'Monster', 'BeBe', 'Remus', 'Sonny', 'Bo', 'Django', 'Shooter',
       'Sansa', 'Stephan', 'Lennon', 'Winnie', 'Major', 'Severus',
       'Longfellow', 'Iroh', 'Ronnie', 'Mauve', 'Chef', 'Pawnd',
       'General', 'Wiggles', 'Jarod', 'Benny', 'Rumpole', 'Einstein',
       'Arya', 'Marlee', 'Callie', 'Sailor', 'Cermet', 'Jarvis', 'Vixen',
       'Tuck', 'Furzey', 'Cannon', 'Rontu', 'Georgie', 'Iggy', 'Snoop',
       'Noosh', 'Odin', 'Thor', 'Lili', 'Harold', 'Boomer', 'Rumble',
       'Clifford', 'Dewey', 'Lorenzo', 'Jordy', 'Milky', 'Burt',
       'Meatball', 'Belle', 'Quinn', 'Zooey', 'Jersey', 'Dutch', 'Kuyu',
       'Eevee', 'Orion', 'Sunshine', 'Lipton', 'Bronte', 'Poppy',
       'Willow', 'Beebop', 'Alexander', 'Sailer', 'Brutus', 'Boots',
       'Ralphie', 'Lilly', 'Mutt', 'Sojourner', 'Monty', 'Maddie', 'Dawn',
       'Brady', 'Luna', 'Margo', 'Tycho', 'Indie', 'Odie', 'Eli', 'Tobi',
       'Arlo', 'Mookie', 'Gilbert', 'Dixie', 'Fizz', 'Meyer', 'Arnie',
       'Stewie', 'Davey', 'Kirby', 'DonDon', 'Klein', 'Carbon', 'Al',
       'Lilah', 'Spanky', 'Blue', 'O', 'Dietrich', 'Wesley', 'Jameson',
       'Grey', 'Bungalo', 'Shakespeare', 'Loki', 'Heinrich', 'Atticus',
       'Leonard', 'Finley', 'Chevy', 'Gert', 'Fido', 'Rocco', 'Theo',
       'Rose', 'Albert', 'Bonaparte', 'Emma', 'Corey', 'Beckham',
       'Brandonald', 'Boston', 'Devón', 'Lilli', 'Spencer', 'Sephie',
       'Ace', 'Tayzie', 'Shadoe', 'Brudge', 'Rupert', 'Grizzie',
       'Philbert', 'Tito', 'Angel', 'Brat', 'Shelby', 'Glenn', 'Leela',
       'Dex', 'Kota', 'Aubie', 'Gromit', 'Tove', 'Sprinkles', 'Timmy',
       'Harvey', 'Blanket', 'Rory', 'Arlen', 'Stormy', 'Mattie', 'Hero',
       'Doc', 'Dallas', 'Dale', 'Shiloh', 'Cali', 'Logan', 'Abby',
       'Loomis', 'Gustav', 'Mairi', 'Godi', 'Geno', 'Bookstore', 'Bell',
       'Rizzy', 'Jay', 'Stella', 'Kayla', 'Tripp', 'Strider', 'Brownie',
       'Mya', 'Cora', 'Butter', 'Huxley', 'Hercules', 'Stark', 'Beya',
       'Barney', 'Anakin', 'Rizzo', 'Miguel', 'Emanuel', 'Meera', 'Pete',
       'Rhino', 'Kellogg', 'Deacon', 'Mimosa', 'Smiley', 'Sampson',
       'Napolean', 'Chubbs', 'Wishes', 'Divine', 'Sobe', 'Sundance',
       'Astrid', 'Doobert', 'Cupid', 'Pilot', 'Lenox', 'Duchess', 'Blu',
       'Petrick', 'Grizzwald', 'Clyde', 'Zoe', 'Luther', 'Baloo',
       'Roscoe', 'Aqua', 'Rooney', 'Rolf', 'Buckley', 'Ashleigh',
       'Chuckles', 'Rueben', 'Lillie', 'Bubba', 'Edmund', 'Bones',
       'Ginger', 'Grady', 'Toffee', 'Herschel', 'Jazz', 'Pinot',
       'Trevith', 'Dwight', 'Rinna', 'Kona', 'Kawhi', 'Hector', 'Gidget',
       'Dido', 'Birf', 'Mona', 'Blakely', 'Trip', 'Lizzie', 'Hamrick',
       'Brandy', 'Banjo', 'Laika', 'Gerbald', 'Hubertson', 'Craig',
       'Marty', 'Obie', 'Kaiya', 'Adele', 'Ambrose', 'Rufio', 'Ralphson',
       'Superpup', 'Mollie', 'Pickles', 'Finnegus', 'Scott', 'Jed',
       'Norman', 'Sierra', 'Cheryl', 'Rover', 'Schnozz', 'Fletcher',
       'Eve', 'Jamesy', 'Jeffri', 'Willem', 'Zuzu', 'Huck', 'Godzilla',
       'Chelsea', 'Pepper', 'Millie', 'Stuart', 'Bayley', 'Tonks',
       'Betty', 'Snoopy', 'Shikha', 'Pablo', 'Diogi'], dtype=object)

### <u>Quality Issue 5: 'xxxxx'<u>

#### __*Define*__

xxxxx
    
#### __*Code*__

HTML tags in source text.
The missing data in "name" or type of dog columns is encoded as 'None'.
some rating numerator and denominator have extreme max/min values
some tweets contain no information

Dog breed predictions with "(_)" separator.
Missing information as "tw_archive" file has 2356 rows and this one 2075. Nothing can be done as the predictions file is given and the neural net is not accessible.